.mycalc{
    border:2px solid black;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    border-radius: 20px;
    background-color:antiquewhite;
}

.all-btn{
    display: flex;

}

.all-btn-numbers{
    display: flex;
    width: 210px;
    flex-wrap: wrap; 
}

.all-btn-signs{
    display: flex;
    flex-direction: column;
}

.all-btn-numbers button{
    background-color: white;
    border: none;
    margin: 10px;
    color: red;
    font-size: 20px;
    border-radius: 50px;
    width:50px;height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-btn-signs button{
    background-color: yellow;
    border: none;
    margin: 10px;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    width:50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.all-btn-signs button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px yellow;
}

.all-btn-numbers button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px 1px white;
}

.btn-extra{
    display: flex;  
}

.btn-extra button{
    background-color: yellow;
    color: black;
}

.btn-extra button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px yellow;
}

.btn-clear-equals{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.btn-clear-equals button{
    width: 120px;
    font-size: 30px;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 10px;
    border: none;
}

#clear{
    color: red;
    background-color: black;
}

#equal{
    color: yellow;
    background-color: black;
}

#clear:hover,#equal:hover{
    background-color: white;
    cursor: pointer;
}

input{
    width: 80%;
    margin: 10px 0px;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    border-radius: 15px;
    border: 1px solid gray;
}

input:focus{
    outline: none;
    border: 1px solid gray;
}
